# rollup-plugin-dts needs packages to be hoisted
# https://pnpm.io/npmrc#public-hoist-pattern
# https://github.com/microsoft/TypeScript/issues/29808
public-hoist-pattern[]='*types*'
public-hoist-pattern[]='*emotion*'
public-hoist-pattern[]='*nivo*'
public-hoist-pattern[]='*xstyled*'
public-hoist-pattern[]='*reakit*'
public-hoist-pattern[]='*scaleway*'
public-hoist-pattern[]='*react-select*'
